@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    I, Nakshi Dudhiya, student number 000793267, certify that all code submitted is my own work;  that I have not copied it from any other source.
    I also certify that I have not allowed my work to be copied by others.
</p>
